<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="In.Sandbox.Ontrack.Test">
    <classes>
      <class name="in.sandbox.ontrack.testcases.DashBoardPageTest"/>
      <class name="in.sandbox.ontrack.testcases.LoginPageTest"/>
      <class name="in.sandbox.ontrack.testcases.ManageClientsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
