<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sandbox Ontrack CRM Automation Test Suite">
  <test name="Sandbox Ontrack CRM Test Cases">
    <classes>
    
     <class name="in.sandbox.ontrack.testcases.LoginPageTest"/>
     
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
